body {
    background-color: #0B1218;
}

html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

/* animation reveal sections */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}